.button {
	@include transition(all 0.3s);
	border: none;
	border-radius: 10px;
	background: color(secondary,100);
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1;
	padding: 0.5em 1em;

	&__icon {
		width: 0.8em;
		height: 0.8em;
	}

	&--margin-top {
		margin-top: 2em;
	}

	&--margin-bottom {
		margin-top: 2em;
	}

	&--center {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	&__undone {
		background-color: #D2D2D2;
	}

	&__success {
		background-color: #7DAF9C;
	}

	&__delete {
		background-color: #E95F84;
	}
}

.card .button {
	margin-left: 10px;
}
